<ul id="menu">
  <li><a class="nav-link" href="{{ path('home') }}">Home</a></li>
  <li><a class="nav-link" href="{{ path('fondo_index') }}">Libros</a></li>
  <li><a class="nav-link" href="{{ path('autor_index') }}">Autores</a></li>
  <li><a class="nav-link" href="{{ path('editorial_index') }}">Editoriales</a></li>
  <li><a class="nav-link" href="{{ path('login') }}">Login</a></li>
  <li><a class="nav-link" href="{{ path('about') }}">Sobre Nosotros</a></li>
</ul>