{% extends 'base.html.twig' %}

{% block title %}Editoriales{% endblock %}

{% block body %}
    <h1>Listado de editoriales</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editorial in editoriales %}
            <tr>
                <td>{{ editorial.id }}</td>
                <td>{{ editorial.nombre }}</td>
                <td>
                    <a href="{{ path('editorial_show', {'id': editorial.id}) }}">show</a>
                    <a href="{{ path('editorial_edit', {'id': editorial.id}) }}">edit</a>
                    <a href="{{ path('editorial_delete', {'id': editorial.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('editorial_new') }}">Create new</a>
{% endblock %}
